* {
    font-size: 40px;
}
/* 
.caja1 {
    width: 150px;
    height: 150px;
    background: red;
    outline: 1px solid rgb(38, 0, 255);
    position: relative;
    top: 0px;
    margin-top: 20px;
}
.caja2 {
    width: 150px;
    height: 150px;
    background: rgb(158, 0, 0);
    outline: 1px solid rgb(38, 0, 255);
    margin-top: 20px;
    position: relative;
    top: 0px;
}
.caja3 {
    width: 150px;
    height: 150px;
    background: rgb(54, 0, 0);
    outline: 1px solid rgb(38, 0, 255);
    margin-top: 20px;
    position: relative;
    top: 0px;
}
.caja4 {
    width: 150px;
    height: 150px;
    background: rgb(0, 0, 0);
    outline: 1px solid rgb(38, 0, 255);
    margin-top: 20px;
    position: relative;
    top: 0px;
} */

.nav-b {
    width: 1310px;
    margin: 0px 20px 0px 20px;
    padding: 20px;
    text-align: center;
    background: lightgreen;
    border-radius: 20px;
    position: fixed;
}
.padre {
    margin: 110px 20px 0px 20px;
    width: 632.5px;
    height: 500px;
    padding: 20px;
    background: lightseagreen;
    border-radius: 20px;
    display:inline-block;
}
.child {
    text-align: center;
    width: 250px;
    height: 250px;
    padding: 20px;
    background: coral;
    border-radius: 20px;
    position:static;
}
.not {
    text-align: center;
    margin: 110px 20px 0px 20px;
    width: 632.5px;
    height: 500px;
    padding: 20px;
    border-radius: 20px;
    background: rgb(241, 58, 58);
    display:inline-block;
    float: right;
}
.bottomm {
    margin: 20px 20px 0px 20px;
    height: 500px;
    padding: 20px;
    background: rgb(255, 255, 118);
    border-radius: 20px;
    display:block;
}